
<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-outline-success btn-sm" (click)='onNew()'>Add birthday</button>
        <button class="btn btn-outline-success btn-sm" (click)='onHttp()'>httpAdd birthday</button>
    </div>
</div>
<br>
<div class="row list-group">
  <div class="col-md-12">
    <app-birthday-item (click)="onSelectRow()" (delete)="deleteItem($event)"
    *ngFor="let birthday of birthdays; let i=index" [birthday]="birthday" [id]="i">
    </app-birthday-item>
  </div>
</div>